.profile {
    border-radius: 14px;
    background-color: white;
    box-shadow: 0px, 4px, 16px, #ccc;
    padding: 20px;
    display: flex;
    column-gap: 25px;
}

.profile img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.user_name {
    font-weight: 700;
}

.add_post {
    display: flex;
    justify-content: stretch;
    box-shadow: 4px 6px 26px -6px rgba(34, 60, 80, 0.2);
    background-color: white;
    padding: 8px 0;
    border-radius: 14px;
    margin: 24px 0;
}

.add_post img {
    width: 25px;
    height: auto;
    margin: 6px 12px;
}

.post_input {
    width: 100%;
    border: none;
    background-color: inherit;
    outline: none;
    padding: 6px 12px 6px 4px;
}

.post_btn {
    width: 25px;
    height: auto;
    margin: 6px 12px;
    text-align: center;
}

