@media (max-width: 700px) {
    .profile_body {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }
    .followers_area {
        margin: 18px 0px;
        height: fit-content;
    }
    .posts_area {
        min-width: 300px;
    }
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        height: 165px;
    }
    .info_user_area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 700px) {
    .profile_body {
        display: grid;
        grid-template-columns: 4fr 2fr;
        margin-top: 18px;
        column-gap: 18px;
    }
    .followers_area {
        height: fit-content;
    }
    .profile {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        column-gap: 25px;
    }

    .info_user_area {
        display: block;
    }
    .user_photo {
        left: 0;
    }
}

@media (max-width: 400px) {
    .follower_name {
        width: 60px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
.user_photo {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    bottom: 0;
    border: 5px solid white;
    background-color: white;
}
.profile {
    border-radius: 14px;
    background-color: white;
    box-shadow: 0px, 4px, 16px, #ccc;
    padding: 25px;
    box-sizing: content-box;
}
.followers_area {
    background-color: white;
    border-radius: 14px;
    padding: 18px 10px;
}

.follower_name {
    display: block;
    color: black;
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}

.background_profile {
    display: flex;
    justify-content: right;
    align-items: start;
    background: radial-gradient(circle, rgba(240, 209, 222, 1) 0%, #95bce9 63%);
    height: 200px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin-bottom: -20px;
    padding: 25px;
}

.photo_area {
    display: flex;
    justify-content: center;
    position: relative;
}

.edit_profile_area {
    display: flex;
    justify-content: right;
}

.user_name {
    font-weight: 700;
    font-size: 21px;
}

.edit_photo_btn {
    border: none;
}

.input_file {
    position: relative;
    display: inline-block;
}

.input_file_text {
    padding: 0 10px;
    line-height: 40px;
    text-align: left;
    height: 40px;
    display: block;
    float: left;
    box-sizing: border-box;
    width: 200px;
    border-radius: 6px 0px 0 6px;
    border: 1px solid #ddd;
    white-space: nowrap
}

.input_file_btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 0 4px 4px 0;
    background-color: #1677ff;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}

.input_file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.modal_text {
    margin-bottom: 15px;
}

.follower_img {
    width: 40px;
    height: auto;
}

.followers_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6px;
    row-gap: 16px;
    margin-top: 10px;
    justify-content: center;
}

.title_friends {
    text-decoration: none;
    color: black;
    padding: 0px 10px;
}

.follower_card {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.follower_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 14px;
    padding: 7px;
    max-width: 105px;
}

.follower_link:hover {
    background-color: #ececec65;

}

.follower_img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}