@media (max-width: 420px) {
    .form_search {
        padding: 12px 5px;
        column-gap: 5px;
    }

    .form_input_term {
        padding: 6px 2px 6px 4px;
        font-size: 12px;
    }

    .form_input_select {
        padding: 0px;
        font-size: 12px;
    }
}

@media (min-width: 420px) {
    .form_search {
        padding: 12px 20px;
        column-gap: 18px;
    }

    .form_input_term {
        padding: 6px 12px 6px 4px;
    }

    .form_input_select {
        width: 250px;
        padding: 0px 5px;
    }

}

@media (max-width: 500px) {
    .user_item {
        padding: 15px 10px;
        column-gap: 10px;
    }

    .user_avatar {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 500px) {
    .user_item {
        padding: 20px 40px;
    }

    .user_avatar {
        width: 80px;
        height: 80px;
    }
}
@media (max-width: 360px) {
    .user_name {
        font-size: 12px;
        width: 65px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .user_status {
        font-size: 12px;
        width: 65px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .btn_follow {
        padding: 6px 8px;
    }
}
@media (min-width: 360px) {
    .user_name {
        font-size: 13px;
    }
    .user_status {
        font-size: 13px;
    }
    .btn_follow {
        padding: 6px 20px;
    }
}
.btn_follow {
    color: #0d6efd;
    background-color: white;
    border: #0d6efd solid 1px;
    border-radius: 15px;
    cursor: pointer;
}

.user_name {
    font-weight: 600;
    color: #2a5885;
    margin-bottom: 8px;
}
.user_status {
    font-weight: 400;
    font-size: 13px;
    color: #2a5885;
}

.user_avatar {
    border-radius: 50%;
}

.user_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
}

.form_input_select {
    border: #ececec 1px solid;
    border-radius: 7px;
    outline: none;
}

.form_input_term {
    width: 100%;
    border: none;
    background-color: inherit;
    outline: none;
}

.form_search {
    display: flex;
    justify-content: stretch;
    box-shadow: 4px 6px 26px -6px rgba(34, 60, 80, 0.2);
    background-color: white;
    border-radius: 14px;
    margin-top: 15px;
}

.users_list {
    list-style-type: none;
    border-radius: 14px;
    background-color: white;
    margin: 15px 0px;
}

.user_item:last-child {
    border: none;
}

.user_info {
    display: flex;
    align-items: center;
    column-gap: 15px;
    text-decoration: none;
}

.user_description {
    display: flex;
    flex-direction: column;
}

.activePage {
    font-weight: bold;
}

.btn_follow:hover {
    background-color: #0d6efd;
    color: white;
}


.form_input_select:focus {
    outline: #0d6efd 1px solid;
}

.form_btn_search {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: #ececec 1px solid;
    cursor: pointer;
    border-radius: 50%;
}

.form_btn_search:hover {
    border: #0d6efd 1px solid;
}