.users_list {
    list-style-type: none;
    border-radius: 14px;
    background-color: white;
    margin: 15px 0px;
}

.user_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    border-bottom: 1px solid #dee2e6;
}

.user_item:last-child {
    border: none;
}

.user_avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.user_info {
    display: flex;
    align-items: center;
    column-gap: 15px;
    text-decoration: none;
}

.user_name {
    font-weight: 600;
    font-size: 13px;
    color: #2a5885;
    margin-bottom: 8px;
}
.user_status {
    font-weight: 400;
    font-size: 13px;
    color: #2a5885;
}

.user_description {
    display: flex;
    flex-direction: column;
}

.activePage {
    font-weight: bold;
}

.btn_follow {
    color: #0d6efd;
    padding: 6px 20px;
    background-color: white;
    border: #0d6efd solid 1px;
    border-radius: 15px;
    cursor: pointer;
}

.btn_follow:hover {
    background-color: #0d6efd;
    color: white;
}

.form_search {
    display: flex;
    justify-content: stretch;
    box-shadow: 4px 6px 26px -6px rgba(34, 60, 80, 0.2);
    background-color: white;
    padding: 12px 20px;
    border-radius: 14px;
    column-gap: 18px;
    margin-top: 15px;
}

.form_input_term {
    width: 100%;
    border: none;
    background-color: inherit;
    outline: none;
    padding: 6px 12px 6px 4px;
}
.form_input_select {
    border: #ececec 1px solid;
    border-radius: 7px;
    outline: none;
    width: 250px;
    padding: 0px 5px;
}
.form_input_select:focus {
    outline: #0d6efd 1px solid;
}

.form_btn_search {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: #ececec 1px solid;
    cursor: pointer;
    border-radius: 50%;
}
.form_btn_search:hover {
    border: #0d6efd 1px solid;
}


