.header {
    width: 100%;
    grid-area: h;
    background-color: white;
    border-radius: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
}

.header img {
    width: 30px;
    height: 30px;
}

