@media (max-width: 510px) {
    .page {
        width: 30px;
        height: 30px;
        font-size: 13px;
    }

    .btn {
        width: 30px;
        height: 30px;
        font-size: 13px;
    }
}

@media (min-width: 510px) {
    .page {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }

    .btn {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }
}

.btn {
    display: flex;
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 4px;
    padding: 4px;
    border-radius: 50%;

}

.page {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 4px;
    padding: 4px;
    border-radius: 50%;
}

.pages {
    display: flex;
}

.page:hover {
    border: 1px solid #0d6efd;
}

.activePage {
    background-color: #0d6efd;
    color: white;
}

.btn:hover {
    border: 1px solid #0d6efd;
}