.paginator_wrapper {

}
.pages {
    display: flex;
}
.activePage {
    display: flex;
    width: 35px;
    height: 35px;
    background-color: #0d6efd;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-radius: 50%;
    color: white;
}
.page {
    display: flex;
    width: 35px;
    height: 35px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-radius: 50%;
}
.page:hover {
    border: 1px solid #0d6efd;
}
.btn {
    display: flex;
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-radius: 50%;
}
.btn:hover {
    border: 1px solid #0d6efd;
}