* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('./fonts/OpenSans-Regular.ttf');
}

@media (max-width: 900px) {
  .app_wrapper_auth {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-template-areas:
      "n c";
    padding: 0px 4px;
  }

  .app_wrapper_not_auth {
    max-width: 1280px;
    padding-top: 18px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0fr 7fr;
    grid-template-areas:
      "n c";
  }

  .app_wrapper_content {
    grid-area: c;
    margin-top: 18px;
  }
}

@media (min-width: 900px) {
  .app_wrapper_auth {
    max-width: 1280px;
    padding-top: 18px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-areas:
      "n c";
    padding-left: 4px;
    padding-right: 4px;
  }

  .app_wrapper_not_auth {
    max-width: 1280px;
    padding-top: 18px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0fr 7fr;
    grid-template-areas:
      "n c";
  }
}

body {
  background-color: #ececec;
  font-family: 'Open Sans', sans-serif;
}

.app {
  background: linear-gradient(90deg, rgba(240, 209, 222, 1) 0%, rgba(148, 187, 233, 1) 63%);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.app_wrapper_content {
  grid-area: c;
}